.hero {
    margin-top: 33px;
}

.hero_title {
    color:  #23272A;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.widt {
    width: 283px;
}

.hero_text {
    color:  #23272A;
    font-family: "Open Sans";
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 27.6px */
    margin-top: 10px;
}

.hero_span {
    color:  #23272A;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%; /* 19.2px */
}

.hero_description {
    color:  #23272A;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    margin-top: 20px;
}